<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>rahaplaneerija</display-name>
  <servlet>
    <display-name>LoginProcess</display-name>
    <servlet-name>LoginProcess</servlet-name>
    <servlet-class>rahaplaneerija.LoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/avaleht</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KlientService</display-name>
    <servlet-name>KlientService</servlet-name>
    <jsp-file>/jsp/kliendileht.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>KlientService</servlet-name>
    <url-pattern>/kliendileht</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Start</display-name>
    <servlet-name>Start</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>Start</servlet-name>
    <url-pattern>/Start</url-pattern>
  </servlet-mapping>
   <servlet>
         <display-name>Newpass</display-name>
        <servlet-name>Newpass</servlet-name>
        <servlet-class>rahaplaneerija.Newpass</servlet-class>       
    </servlet>

    <servlet-mapping>
        <servlet-name>Newpass</servlet-name>
        <url-pattern>/newpass</url-pattern>
    </servlet-mapping>
    
    <servlet>
         <display-name>Registration</display-name>
        <servlet-name>Registration</servlet-name>
        <servlet-class>rahaplaneerija.Registration</servlet-class>       
    </servlet>

    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/reg.jsp</url-pattern>
    </servlet-mapping>
 
  
  <welcome-file-list>
    <welcome-file>avaleht.html</welcome-file>
    <welcome-file>kliendileht.htm</welcome-file>
    <welcome-file>kliendileht.jsp</welcome-file>
    <welcome-file>reg.html</welcome-file>
    <welcome-file>newpass.htm</welcome-file>
    <welcome-file>saastmisekalkulaator.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
org.springframework.web.context.ContextLoaderListener
</listener-class>
  </listener>
  <listener>
    <listener-class>
org.springframework.web.context.request.RequestContextListener
</listener-class>
  </listener>
  <servlet>
    <description>JAX-RS Tools Generated - Do not modify</description>
    <servlet-name>JAX-RS Servlet</servlet-name>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JAX-RS Servlet</servlet-name>
    <url-pattern>/jaxrs/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
</web-app>